
.ser-list {
	border-top: 1px solid #d9d9d9;
	background-color: #fff;
}
.ser-list li {
	padding:15px;
	height:57px;
	border-bottom: 1px solid #d9d9d9;
}
.ser-list li img {
	display:block;
	width:57px; height:57px;
}
.ser-list li p {
	height:28px; line-height:28px;
	overflow:hidden;
}

.ser-ban { position:relative; }
.ser-ban img {
	display:block;
	width:100%;
}
.ser-ban .pa {
	left:0; right:0; bottom:0;
	padding:15px;
	line-height:24px;
	color:#fff;
	background:rgba(0,0,0,.4);
}
.ser-ban .pa img {
	width:57px; height:57px;
	border-radius:50%;
	overflow:hidden;
}

.oe-dot {
	display:inline-block;
	width:5px; height:5px; line-height:5px;
	background-color:#ffb74f;
	border-radius:50%;
}

.ser-list2 {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color: #fff;
}
.ser-list2 .tit1 {
	padding:10px 15px;
	border-bottom:1px dashed #d9d9d9;
}

.yuyue-btn p {
	padding-left:15px;
	height:44px; line-height:44px;
	border-top: 1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	background-color:#fff;
}
.yuyue-btn a {
	padding:0 25px;
	height:46px; line-height:46px;
	font-size:18px;
	color:#fff; background-color:#ff9600;
}

.lr-info {
	padding:10px 15px;
	min-height:57px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color:#fff;
}
.lr-info img {
	display:block;
	width:57px; height:57px;
	border-radius:50%;
	overflow:hidden;
}
.lr-info .i-pub10,
.lr-info .i-pub11 { margin-left:3px; }
.ser-tip {
	padding:0 15px;
	height:42px; line-height:42px;
	font-size:13px;
	background-color:#fff;
	border-bottom:1px solid #d9d9d9;
}
.add-list {
	padding:15px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	background-color:#fff;
	min-height:72px;
	overflow:hidden;
}
.add-list span { line-height:72px; }
.add-list .add-btn {
	float:left;
	padding:22px;
	width:28px; height:28px; line-height:28px;
	text-align:center;
	border:1px dashed #b3b3b3;
	border-radius:5px;
}
.add-img {
	position:relative;
	float:left;
	margin:0 15px 10px 0;
	width:74px; height:74px;
}
.add-img img {
	display:block;
	width:74px; height:74px;
}
.add-img a {
	position:absolute; right:-10px; top:-10px;
}
.u-text-bar { padding:15px; }
.u-text-bar textarea {
	width:100%; height:145px; line-height:24px;
	font-size:15px;
	background-color:#fff;
	overflow-y:auto;
}

.borb1 { border-bottom:1px solid #d9d9d9 !important; }


/* pop-radius */
.pop-radius {
	position: fixed;
	left:0; top:50%; right:0;
	z-index: 1005; margin-top:-65px;
	padding:0 15px;
}
.pop-ra-bg {
	background-color:#fff;
	border-radius:10px;
	width:100%;
}
.pop-ra-t {
	padding:10px 15px;
	font-size:14px;
}
.pop-ra-b { 
	height:42px;
	line-height:42px;
	text-align:center;
	display:-webkit-box; 
	display:-moz-box; 
	display:-ms-flexbox; 
	display:flexbox; 
	width:100%;
	border-top:1px solid #d9d9d9;
}
.pop-ra-b a { 
	-webkit-box-flex:1; 
	-moz-box-flex:1; 
	-ms-flex:1; 
	width:1px; 
	display:block; 
}

.borr1 { border-right:1px solid #d9d9d9; }

/* 律师信息资料 */
.lr-info-detail { padding:0 15px; }
.lr-info-detail li { 
	padding:10px 0;
	border-bottom:1px solid #d9d9d9;
}
.lr-info-detail li:last-child { border-bottom:0; }
.lr-info-detail li span {
	font-size:15px;
	color:#000;
}
.lr-info-detail li p {
	margin-top:5px;
	color:#999;
}
.pb120{ padding-bottom:120px; }
.mind-info {
	padding:20px 0;
	background-color:#fff;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.mind-info img {
	display:inline-block;
	width:82px; height:82px;
	border-radius:50%;
	overflow:hidden;
}
.mind-money { 
	display:-webkit-box; 
	display:-moz-box; 
	display:-ms-flexbox; 
	display:flexbox; 
	width:100%;
	background:#fff;
	border-bottom:1px solid #d9d9d9;
}
.mind-money li { 
	-webkit-box-flex:1; 
	-moz-box-flex:1; 
	-ms-flex:1; 
	width:1px; 
	display:block; 
	padding:15px 0;
	text-align:center;
}
.mind-money li a {
	display:inline-block;
	width:58px; height:58px; line-height:58px;
	font-size:15px;
	color:#fd5252;
	background-color:#fff;
	border:1px solid #fd5252;
	border-radius:50%;
}
.mind-money li a.hea-click {
	color:#fff;
	background-color:#fd5252;
}
.mind-wall {
	border-top:1px solid #d9d9d9;
	background-color:#fff;
}
.mind-wall dt, .mind-wall dd {
	border-bottom:1px solid #d9d9d9;
	padding:10px 15px;
}
.mind-wall dd { min-height:47px; line-height:24px; }
.mind-wall dd .wall-photo {
	width:47px; height:47px;
	border:1px solid #d9d9d9;
	border-radius:50%;
	overflow:hidden;
}
.mind-wall dd .wall-photo img {
	display:block;
	width:47px; height:47px;
}


.ls-tips {
	padding:10px 15px;
	line-height:24px;
	color:#666;
	background-color:#e6e6e6;
	border-radius:3px;
}



